# Node
node_modules/
dist/
.env
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
*.log

# IDE
.vscode/
.idea/

# Backend Secrets
backend/app/core/firebase_credentials.json

# Frontend Secrets
frontend/src/firebase.ts
