# Backend Environment Variables
PROJECT_NAME="AI Fake News Detector"
API_V1_STR="/api/v1"

# CORS (Comma separated list of origins)
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]

# Database (Local MongoDB)
MONGODB_URL="mongodb://localhost:27017"
DB_NAME="fake_news_db"

# Security
# PLACE YOUR FIREBASE JSON FILE IN: backend/app/core/firebase_credentials.json
GOOGLE_APPLICATION_CREDENTIALS="app/core/firebase_credentials.json"

# External APIs
GOOGLE_FACT_CHECK_KEY=""
NEWS_API_KEY=""
GEMINI_API_KEY=""